@media (max-width: 775px) {
    .footer-section {
      flex-direction: row;
      justify-content: space-around;
    }

    .destaque {
      flex-direction: column;
    }

    .imovel {
      width: 100%;
    }
}
