body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}

header {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.logo {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

main {
    padding: 2rem;
    margin: 0 auto;
    display: block;
}

nav {
    background-color: blue;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    margin: 0 10px;
}

nav ul li a {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}

.destaque {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.imovel {
    width: calc(33.33% - 20px);
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.carrossel {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}


.carrossel img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carrossel img.active {
    opacity: 1;
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carrossel-btn.prev {
    left: 10px;
}

.carrossel-btn.next {
    right: 10px;
}


.imovel-info  {
    padding: 20px;
}

.imovel-info h3  {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.imovel-info p {
    line-height: 1.5;
}

.imovel-info strong {
    color: #333;
    font-size: 1.1rem;
}

.video-container {
    width: 100%;
    height: 200px;
}

.footer-content {
    gap: 1px;
    flex-wrap: wrap;
    display: flex;
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    justify-content: space-between;
} 

.footer-content p {
    margin: 0;
}

.footer-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section, ul li a {
    color: #fff;
}

.footer-bottom {
    display: flex;
    background-color: #34495e;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}


